@use '../colors';
@use '../environment';

.tag {
  background: colors.$tag-background;
  color: colors.$tag-text;
  font-weight: 700;
  font-size: 14px;
  padding: 0 4px;
  display: flex;

  @if environment.$current-site == 'derpibooru' or environment.$current-site == 'tantabus' {
    border: 1px solid colors.$tag-border;
    line-height: 24px;
  }
  @else {
    line-height: 28px;
  }

  .remove {
    content: "x";
    margin-left: 6px;
    cursor: pointer;
  }
}
