@use '../colors';
@use '../environment';

.tag {
  background: colors.$tag-background;
  line-height: 28px;
  color: colors.$tag-text;
  font-weight: 700;
  font-size: 14px;
  padding: 0 4px;
  display: flex;

  @if environment.$current-site == 'derpibooru' {
    border: 1px solid colors.$tag-border;
  }

  .remove {
    content: "x";
    margin-left: 6px;
    cursor: pointer;
  }
}
