@use '$styles/booru-vars';
@use '$styles/environment';

h2.tag-category-headline {
  // Basic margin top and bottom values gathered from Chrome.
  $base-margin-top: .83em;
  $base-margin-bottom: .62em;

  margin: {
    top: calc(#{$base-margin-top} - #{booru-vars.$padding-small});
    bottom: calc(#{$base-margin-bottom} - #{booru-vars.$padding-small});
  }
}
